h1 {
	font-family: Verdana, sans-serif;
}

header p {
	font-family: Georgia, serif;
	font-style: italic;
}

/*.upper_stripe {
	background-color: #CCE6FF;
	height: 100px;
	width: 600px;
	border: 3px solid black;
	}*/
.intro {
	font-family: Comic Sans, Comic Sans MS, cursive;
	color: #D02230;
}

.main {
	background-color: #FFFFFF ;
	height: 1000px;
	}

main img {
	height: 160px;
	width: 240px;
	border-radius: 5px;
	margin: 40px;
	border: solid black 2px;

}

main img:hover {
	/*height: 80px;
	width: 120px;*/
	transform: scale(1.1);
}

.bottom_stripe {
	background-color: #442031;
	height: 50px;
	}
.bottom_stripe p {
        font-family: Verdana, sans-serif;
	font-size: 80%;       
	color: #FFFFFF;
	padding: 16px 2px 16px 2px;
}
.button_area {
	height: 100px;
	width: 600px;
	background-color: #CCE6FF;

}
/* Uncomment to hide navigation heading
.button_area h2 {
	position: absolute; !important;
	clip: rect(1px 1px 1px 1px);
	padding: 0px !important;
	border: 0px !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
*/
nav li {
	display:inline;
}

li.button {
	float:left;
	position: relative;
	height: 40px;
	width: 50px;
	background-color: #D3F2FF;
	}

li.button ul {
    background: #222; 
    display: none; 
    position: absolute;
    text-align: left;
    padding: 5px;
    left: 0px;
    right: -200px;
    top: 100%;
}

.sepia {
	-webkit-filter: sepia(1);
	-moz-filter: sepia(1);
	filter: sepia(1);
}
li.button:hover { background: #555;  }
li.button:hover ul { display: block;  }
li.button:hover ul li { display: block;  }
